[submodule "libhttps"]
	path = libhttps
	url = https://github.com/FoxInTango/libhttps.git
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent.git
[submodule "libressl"]
	path = libressl
	url = https://github.com/libressl-portable/portable.git
